*{
    margin: 0;
    padding: 0;
}

.layout .edito{
  width: 80vw;
  height: 87vh;
  overflow-y: auto;
  padding: 20px;
}

.sidebarWithEsitor
{
  display: flex;
}

.edito > button{
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.192);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.306);;
  }